
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}


.mainGlobeImage {
    background-image: url('../img/geographyMainLandingPageImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:fixed;
    width: 100vw;
    height: 100vh;
}

/* .globeImage{
  position: absolute;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; 
  width: 50vw;
  height: 50vh;
  flex: auto;
} */


.textIntroPageContainer {
    color: rgb(255, 255, 255);
    background: rgba(4, 8, 10, 0.3);
    position: absolute; 
    top: 42%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 12px;
    width: 50%; 
    max-width: 600px;  
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px 10px;

}


h1{
    font-size: 41px;
    font-weight: bold;
    color: rgb(231, 235, 225);
    margin: 2px;
    padding: 7px;
}


p{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
}


#startQuizButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color:#474747;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#startQuizButton:hover {
    background-color: #4894e6;
}


