.btn-next {
    padding: 10px; 
    border-radius:10px; 
    background-color:#5f9ea0;
    border: none;
}

.btn-next:hover {
    background-color:#437072;
}

.page {
    display:none;
    text-align:center;
}

.wrong-answer {
    background-color:#ff6347; 
    padding: 15px;
    border-radius: 10px;
}

.correct-answer {
    background-color:#9acd32;
    padding: 15px;
    border-radius: 10px;
}

.background-image {
    display:block; 
    width: 100%; 
    height: 100%;
    padding: 15px;
}

.start-page-img {
    background-image: url('img/history.jpg');
}

.q1-page-img {
    background-image: url('img/james-I.jpg');
}

.q2-page-img {
    background-image: url('img/kilts.jpg');
}

.q3-page-img {
    background-image: url('img/queen-victoria.jpg');
}

.q4-page-img {
    background-image: url('img/100-years-war.jpg');
}

.q5-page-img {
    background-image: url('img/macbeth.jpg');
}

.q6-page-img {
    background-image: url('img/mary-queen-of-scots.jpg');
}

.end-page-img {
    background-image: url('img/congratulations.jpg');
}

.title-box {
    background-color: #00000080; 
    border-radius: 10px; 
    padding: 25px; 
    color: white;
    margin: 100px
}

.end-title-box {
    background-color: none; 
    border-radius: 10px; 
    padding: 25px; 
    color: white;
    margin: 100px
}

.padding-all {
    padding: 15px;
}

