.btn-next {
    padding: 10px; 
    border-radius:10px; 
    background-color:#5f9ea0;
    border: none;
}

.btn-next:hover {
    background-color:#437072;
}

.page {
    display:none;
    text-align:center;
}

.wrong-answer {
    background-color:tomato; 
    padding: 15px;
}

.correct-answer {
    background-color:greenyellow;
    padding: 15px;
}

